{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe - Ma Boutique Ecommerce{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('account') }}">Retourner à mon compte</a>
    <hr>
    {{form(form)}}
    
{% endblock %}