{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - MaBoutiqueEcommerce{% endblock %}

{% block content %}
    <div class="block-small">
    <h1>Réinitialiser mon mot de passe</h1>
        {{form(form)}}
    </div>    
{% endblock %}